<!doctype html>
<head>
    <meta name="referrer" content="no-referrer" />
    <title>Ctrl+V</title>
    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <style type="text/css">
        h1 {
            font-family: 'Open Sans', sans-serif;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            padding: 50px 32px 50px 32px;
            text-align: center;
            font-size: 36px;
            color: rgba(0,0,0,0.7);
        }
    </style>
</head>
<body>
    <h1>Paste not found.<br>It either self-destructed or the key in URL is wrong ({{ key }}).</h1>
</body>
