<!doctype html>
<head>
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ctrl+V</title>
    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/bitwiseshiftleft/sjcl/master/sjcl.js"></script>
    <style type="text/css">
        .content-area {
            font-family: 'Open Sans', sans-serif;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
    </style>
</head>
<body>
    <div class="content-area">
        <textarea id="textbox"></textarea>
    </div>

    <script>
        var mde = new SimpleMDE({
    		element: document.getElementById("textbox"),
            spellChecker: false,
            autofocus: true
	    });

        var password = window.location.hash.slice(1);
        var ciphertext = "{{ ciphertext }}";
        var encryptedToken = "{{ encryptedToken }}";

        if (password) {
            if (ciphertext && ciphertext.length > 1) {
                ciphertext = ciphertext.replace(/&#34;/g, '"');
                try {
                    var text = sjcl.decrypt(password, ciphertext, { ks:256 });
                    mde.value(text);
                } catch (err) {
                    mde.value("Failed to decrypt content. **" + password + "** is not the right password.")
                }
            }

            if (encryptedToken && encryptedToken.length > 1) {
                encryptedToken = encryptedToken.replace(/&#34;/g, '"');

                try {
                    var token = sjcl.decrypt(password, encryptedToken, { ks:256 });
                    $.post("/api/v1/destruct", { "key": "{{ key }}", "token": token }, function(data) {});
                } catch (err) {}
            }
         } else {
            mde.value("Append **#password** to URL to decrypt content.")
        }

        mde.toggleFullScreen();

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ analyticsId }}', 'auto');
        ga('send', 'pageview');
    </script>
</body>
